extends template

block content 
	nav.navbar.navbar-default.navbar-fixed-top
		.container-fluid
			.navbar-header
				button(type="button" data-toggle="collapse" data-target="#navi" aria-expanded="false").navbar-toggle.collapsed
					span.sr-only Toggle navigation
					span.icon-bar.top-bar
					span.icon-bar.middle-bar
					span.icon-bar.bottom-bar
				a(href="/dashboard").navbar-brand Alla Prima
			.collapse.navbar-collapse#navi
				ul.nav.navbar-nav
					li
						a(href="/gallery") GALLERY
					li
						a(href="#") TRENDS
					li
						a(href="#") TUTORIALS

				ul.nav.navbar-nav.navbar-right
					li
						a(href="#") FAQ
					li
						img(src=userSrc).userimg
					li.dropdown
						a(href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false") User
							span.caret
						ul.dropdown-menu
							li
								a(href="profile/upload") Upload
							li
								a(href="/profile") Edit Profile
				form(role="search").navbar-form.navbar-right
					.form-group
						input(type="text" placeholder="Search").form-control
					button(type="submit").btn.btn-default Submit			
	.tag
		a(href="#") Likes
		a(href="#" style="color:#973637; font-weight:900;") Following
		a(href="#") Suggestions

	.mygrid
		ul.grid.effect-6#grid.img-list
			li
				a(href="/form")
					img(src="./copic/12.jpg")
					span.text-content Two of a Kind 
						br 
						| by: xPine
						img(src="/icons/add.gif").right
						img(src="https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-ios7-heart-outline-512.png").right
			li
				a(href="/form")
					img(src="images/13.png")
					span.text-content Just wing it 
						br 
						| by: missFly
						img(src="/icons/add.gif").right
						img(src="https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-ios7-heart-outline-512.png").right
						
			li
				a(href="/form")
					img(src="images/spider.jpg")
					span.text-content Spider Gwen Cover 
						br 
						| by: juicyInk
						img(src="/icons/add.gif").right
						img(src="https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-ios7-heart-outline-512.png").right
			li
				a(href="/form")
					img(src="copic/5.jpg")
					span.text-content Just wing it 
						br 
						| by: missFly
						img(src="/icons/add.gif").right
						img(src="https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-ios7-heart-outline-512.png").right
			li
				a(href="/form")
					img(src="copic/7.jpg")
					span.text-content Just wing it 
						br 
						| by: missFly
						img(src="/icons/add.gif").right
						img(src="https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-ios7-heart-outline-512.png").right
			li
				a(href="/form")
					img(src="images/6.jpg")
					span.text-content Just wing it 
						br 
						| by: missFly
						img(src="/icons/add.gif").right
						img(src="https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-ios7-heart-outline-512.png").right
			li
				a(href="/form")
					img(src="copic/9.jpg")
					span.text-content Just wing it 
						br 
						| by: missFly
						img(src="/icons/add.gif").right
						img(src="https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-ios7-heart-outline-512.png").right
			li
				a(href="/form")
					img(src="images/1.gif")
					span.text-content Just wing it 
						br 
						| by: missFly
						img(src="/icons/add.gif").right
						img(src="https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-ios7-heart-outline-512.png").right
			li
				a(href="/form")
					img(src="images/15.gif")
					span.text-content Just wing it 
						br 
						| by: missFly
						img(src="/icons/add.gif").right
						img(src="https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-ios7-heart-outline-512.png").right
			li
				a(href="/form")
					img(src="images/14.png")
					span.text-content Just wing it 
						br 
						| by: missFly
						img(src="/icons/add.gif").right
						img(src="https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-ios7-heart-outline-512.png").right
			li
				a(href="/form")
					img(src="copic/2.jpg")
					span.text-content Just wing it 
						br 
						| by: missFly
						img(src="/icons/add.gif").right
						img(src="https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-ios7-heart-outline-512.png").right
			li
				a(href="/form")
					img(src="copic/8.jpg")
					span.text-content Just wing it 
						br 
						| by: missFly
						img(src="/icons/add.gif").right
						img(src="https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-ios7-heart-outline-512.png").right
			li
				a(href="/form")
					img(src="images/1.jpg")
					span.text-content Just wing it 
						br 
						| by: missFly
						img(src="/icons/add.gif").right
						img(src="https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-ios7-heart-outline-512.png").right
			li
				a(href="/form")
					img(src="images/2.jpg")
					span.text-content Just wing it 
						br 
						| by: missFly
						img(src="/icons/add.gif").right
						img(src="https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-ios7-heart-outline-512.png").right
			li
				a(href="/form")
					img(src="images/12.jpg")
					span.text-content Just wing it 
						br 
						| by: missFly
						img(src="/icons/add.gif").right
						img(src="https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-ios7-heart-outline-512.png").right
			li
				a(href="/form")
					img(src="copic/10.jpg")
					span.text-content Just wing it 
						br 
						| by: missFly
						img(src="/icons/add.gif").right
						img(src="https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-ios7-heart-outline-512.png").right
			li
				a(href="/form")
					img(src="images/8.jpg")
					span.text-content Just wing it 
						br 
						| by: missFly
						img(src="/icons/add.gif").right
						img(src="https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-ios7-heart-outline-512.png").right
			li
				a(href="#")
					img(src="copic/2.png")
					span.text-content Just wing it 
						br 
						| by: missFly
						img(src="/icons/add.gif").right
						img(src="https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-ios7-heart-outline-512.png").right
			li
				a(href="/form")
					img(src="images/14.png")
					span.text-content Just wing it 
						br 
						| by: missFly
						img(src="/icons/add.gif").right
						img(src="https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-ios7-heart-outline-512.png").right
			li
				a(href="#")
					img(src="copic/6.jpg")
					span.text-content Just wing it 
						br 
						| by: missFly
						img(src="/icons/add.gif").right
						img(src="https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-ios7-heart-outline-512.png").right
			li
				a(href="/form")
					img(src="copic/5.jpg")
					span.text-content Just wing it 
						br 
						| by: missFly
						img(src="/icons/add.gif").right
						img(src="https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-ios7-heart-outline-512.png").right
			li
				a(href="/form")
					img(src="images/11.jpg")
					span.text-content Just wing it 
						br 
						| by: missFly
						img(src="/icons/add.gif").right
						img(src="https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-ios7-heart-outline-512.png").right
			li
				a(href="#")
					img(src="images/3.jpg")
					span.text-content Just wing it 
						br 
						| by: missFly
						img(src="/icons/add.gif").right
						img(src="https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-ios7-heart-outline-512.png").right
			li
				a(href="#")
					img(src="images/4.jpg")
					span.text-content Just wing it 
						br 
						| by: missFly
						img(src="/icons/add.gif").right
						img(src="https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-ios7-heart-outline-512.png").right
			li
				a(href="#")
					img(src="images/1.jpg")
					span.text-content Just wing it 
						br 
						| by: missFly
						img(src="/icons/add.gif").right
						img(src="https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-ios7-heart-outline-512.png").right
			li
				a(href="#")
					img(src="images/2.jpg")
					span.text-content Just wing it 
						br 
						| by: missFly
						img(src="/icons/add.gif").right
						img(src="https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-ios7-heart-outline-512.png").right
			li
				a(href="#")
					img(src="copic/3.jpg")
					span.text-content Just wing it 
						br 
						| by: missFly
						img(src="/icons/add.gif").right
						img(src="https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-ios7-heart-outline-512.png").right
			li
				a(href="#")
					img(src="images/4.jpg")
					span.text-content Just wing it 
						br 
						| by: missFly
						img(src="/icons/add.gif").right
						img(src="https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-ios7-heart-outline-512.png").right
			li
				a(href="#")
					img(src="images/5.png")
					span.text-content Just wing it 
						br 
						| by: missFly
						img(src="/icons/add.gif").right
						img(src="https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-ios7-heart-outline-512.png").right
			li
				a(href="#")
					img(src="images/6.jpg")
					span.text-content Just wing it 
						br 
						| by: missFly
						img(src="/icons/add.gif").right
						img(src="https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-ios7-heart-outline-512.png").right
			li
				a(href="#")
					img(src="images/7.jpg")
					span.text-content Just wing it 
						br 
						| by: missFly
						img(src="/icons/add.gif").right
						img(src="https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-ios7-heart-outline-512.png").right
			li
				a(href="#")
					img(src="images/8.jpg")
					span.text-content Just wing it 
						br 
						| by: missFly
						img(src="/icons/add.gif").right
						img(src="https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-ios7-heart-outline-512.png").right
			li
				a(href="#")
					img(src="images/9.jpg")
					span.text-content Just wing it 
						br 
						| by: missFly
						img(src="/icons/add.gif").right
						img(src="https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-ios7-heart-outline-512.png").right
			li
				a(href="#")
					img(src="images/10.png")
					span.text-content Just wing it 
						br 
						| by: missFly
						img(src="/icons/add.gif").right
						img(src="https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-ios7-heart-outline-512.png").right
			li
				a(href="#")
					img(src="images/11.png")
					span.text-content Just wing it 
						br 
						| by: missFly
						img(src="/icons/add.gif").right
						img(src="https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-ios7-heart-outline-512.png").right
			li
				a(href="#")
					img(src="images/12.png")
					span.text-content Just wing it 
						br 
						| by: missFly
						img(src="/icons/add.gif").right
						img(src="https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-ios7-heart-outline-512.png").right
			li
				a(href="#")
					img(src="images/4.jpg")
					span.text-content Just wing it 
						br 
						| by: missFly
						img(src="/icons/add.gif").right
						img(src="https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-ios7-heart-outline-512.png").right
			li
				a(href="#")
					img(src="images/1.jpg")
					span.text-content Just wing it 
						br 
						| by: missFly
						img(src="/icons/add.gif").right
						img(src="https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-ios7-heart-outline-512.png").right
			li
				a(href="#")
					img(src="images/2.jpg")
					span.text-content Just wing it 
						br 
						| by: missFly
						img(src="/icons/add.gif").right
						img(src="https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-ios7-heart-outline-512.png").right
			li
				a(href="#")
					img(src="copic/3.jpg")
					span.text-content Just wing it 
						br 
						| by: missFly
						img(src="/icons/add.gif").right
						img(src="https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-ios7-heart-outline-512.png").right
			li
				a(href="#")
					img(src="images/4.jpg")
					span.text-content Just wing it 
						br 
						| by: missFly
						img(src="/icons/add.gif").right
						img(src="https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-ios7-heart-outline-512.png").right
			li
				a(href="#")
					img(src="images/5.png")
					span.text-content Just wing it 
						br 
						| by: missFly
						img(src="/icons/add.gif").right
						img(src="https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-ios7-heart-outline-512.png").right
			li
				a(href="#")
					img(src="images/6.jpg")
					span.text-content Just wing it 
						br 
						| by: missFly
						img(src="/icons/add.gif").right
						img(src="https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-ios7-heart-outline-512.png").right
			li
				a(href="#")
					img(src="copic/7.jpg")
					span.text-content Just wing it 
						br 
						| by: missFly
						img(src="/icons/add.gif").right
						img(src="https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-ios7-heart-outline-512.png").right
			li
				a(href="#")
					img(src="copic/8.jpg")
					span.text-content Just wing it 
						br 
						| by: missFly
						img(src="/icons/add.gif").right
						img(src="https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-ios7-heart-outline-512.png").right
			li
				a(href="#")
					img(src="images/9.jpg")
					span.text-content Just wing it 
						br 
						| by: missFly
						img(src="/icons/add.gif").right
						img(src="https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-ios7-heart-outline-512.png").right
			li
				a(href="#")
					img(src="images/10.png")
					span.text-content Just wing it 
						br 
						| by: missFly
						img(src="/icons/add.gif").right
						img(src="https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-ios7-heart-outline-512.png").right
			li
				a(href="#")
					img(src="images/11.png")
					span.text-content Just wing it 
						br 
						| by: missFly
						img(src="/icons/add.gif").right
						img(src="https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-ios7-heart-outline-512.png").right
			li
				a(href="#")
					img(src="images/12.png")
					span.text-content Just wing it 
						br 
						| by: missFly
						img(src="/icons/add.gif").right
						img(src="https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-ios7-heart-outline-512.png").right
			li
				a(href="#")
					img(src="images/6.jpg")
					span.text-content Just wing it 
						br 
						| by: missFly
						img(src="/icons/add.gif").right
						img(src="https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-ios7-heart-outline-512.png").right
			li
				a(href="#")
					img(src="images/7.jpg")
					span.text-content Just wing it 
						br 
						| by: missFly
						img(src="/icons/add.gif").right
						img(src="https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-ios7-heart-outline-512.png").right
			li
				a(href="#")
					img(src="images/8.jpg")
					span.text-content Just wing it 
						br 
						| by: missFly
						img(src="/icons/add.gif").right
						img(src="https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-ios7-heart-outline-512.png").right
			li
				a(href="#")
					img(src="images/9.jpg")
					span.text-content Just wing it 
						br 
						| by: missFly
						img(src="/icons/add.gif").right
						img(src="https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-ios7-heart-outline-512.png").right
			li
				a(href="#")
					img(src="images/10.png")
					span.text-content Just wing it 
						br 
						| by: missFly
						img(src="/icons/add.gif").right
						img(src="https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-ios7-heart-outline-512.png").right
			li
				a(href="#")
					img(src="images/11.png")
					span.text-content Just wing it 
						br 
						| by: missFly
						img(src="/icons/add.gif").right
						img(src="https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-ios7-heart-outline-512.png").right
			li
				a(href="#")
					img(src="copic/2.png")
					span.text-content Just wing it 
						br 
						| by: missFly
						img(src="/icons/add.gif").right
						img(src="https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-ios7-heart-outline-512.png").right