extends template

block content
	nav.navbar.navbar-default.navbar-fixed-top
		.container-fluid
			.navbar-header
				button(type="button" data-toggle="collapse" data-target="#navi" aria-expanded="false").navbar-toggle.collapsed
					span.sr-only Toggle navigation
					span.icon-bar.top-bar
					span.icon-bar.middle-bar
					span.icon-bar.bottom-bar
				a(href="/dashboard").navbar-brand Alla Prima
			.collapse.navbar-collapse#navi
				ul.nav.navbar-nav
					li
						a(href="/gallery") GALLERY
					li
						a(href="#") TRENDS
					li
						a(href="#") TUTORIALS

				ul.nav.navbar-nav.navbar-right
					li
						a(href="#") FAQ
					li
						img(src=imgSrc).userimg
					li.dropdown
						a(href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false") User
							span.caret
						ul.dropdown-menu
							li
								a(href="profile/upload") Upload
							li
								a(href="/profile") Edit Profile
				form(role="search").navbar-form.navbar-right
					.form-group
						input(type="text" placeholder="Search").form-control
					button(type="submit").btn.btn-default Submit
	.container-fluid(style="margin-top:50px;")
		.row
			.col-md-7
				h3(style="padding-bottom:1em; color:gray; text-align:center;") Spider Gwen Cover
				.center
					img(src="/images/spider.jpg").mainimg
				br 
				p hello this is a description of the image
				hr
			.col-md-4
				img(style="height:30px; width:30px;" src="http://55.media.tumblr.com/avatar_8bdeda0fb1c8_128.png").userimg  
				|   by juicyInk
				br
				img(style="height:30px; width:30px; border:none;" src="http://www.pngdot.com/wp-content/uploads/2015/10/Heart_Outline_Png_Transparent_01.png").userimg 
				|  Like
				br
				img(style="height:30px; width:30px; border:none;" src="http://icons.iconarchive.com/icons/icons8/ios7/512/User-Interface-Plus-icon.png").userimg 
				|  Favorite
				h4(style="margin:0; text-align:center; color:lightgray;") Creative Process
				br 
				<iframe  width="400px" height="300px" src="https://www.youtube.com/embed/vfUYGB__n-I" frameborder="0" allowfullscreen></iframe>
				br 
				h4(style="margin:0; text-align:center; color:lightgray;") Inspired
				br 
				.collab
					img(src="images/col-1.jpg").collabimg
					| 
					img(src="images/col-2.jpg").collabimg
					| 
					img(src="images/col-3.jpg").collabimg
				br
			.col-md-6.comments
				form(method="post")
					label(for="comment") Comment:
					input(type="text", name="comment", value=comment)
					input(type="submit", value="Save").btn.btn-sm
					br
					p
					- for comment in comments
						img(src="http://i1.wp.com/japanlover.me/goodies/kawaii/02-icons/nomnom-01.png").userimg 
						p(style="margin-left:70px; margin-top:-50px;") User said:
						br
						p(style="margin-left:70px; margin-top:-10px;color:gray;")= comment.title
						hr