extends template

block content 
	nav.navbar.navbar-default.navbar-fixed-top
		.container-fluid
			.navbar-header
				button(type="button" data-toggle="collapse" data-target="#navi" aria-expanded="false").navbar-toggle.collapsed
					span.sr-only Toggle navigation
					span.icon-bar.top-bar
					span.icon-bar.middle-bar
					span.icon-bar.bottom-bar
				a(href="/").navbar-brand Alla Prima
			.collapse.navbar-collapse#navi
				ul.nav.navbar-nav
					li.active
						a(href="/gallery") GALLERY
					li
						a(href="#") TRENDS
					li
						a(href="#") TUTORIALS

				ul.nav.navbar-nav.navbar-right
					li
						a(href="#") FAQ
					li
						a(href="/login") Log In
				form(role="search").navbar-form.navbar-right
					.form-group
						input(type="text" placeholder="Search").form-control
					button(type="submit").btn.btn-default Submit
									
	.tagunsign
		| Popular Tags:  
		a(href="#") #Tag
		a(href="#" style="color:#973637; font-weight:900;") #copicMarkers
		a(href="#") #acrylic
		a(href="#") #soundeffect
		a(href="#") #IOSdesign
		a(href="#") #andriod
		a(href="#") #navbar
		a(href="#") #digitalart
		a(href="#") #Adobe
		
	.signup
		a(href="/signup").btn.btn-danger.btn-lg Sign Up
		a(href="/login").btn.btn-info.btn-lg Log In
	.container
		ul.grid.effect-6#grid.img-list
			li
				a(href="#")
					img(src="copic/12.jpg")
					span.text-content Two of a Kind 
						br 
						| by: xPine
						img(src="/icons/add.gif").right
						img(src="https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-ios7-heart-outline-512.png").right
			li
				a(href="#")
					img(src="copic/13.jpg")
					span.text-content Just wing it 
						br 
						| by: missFly
						img(src="/icons/add.gif").right
						img(src="https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-ios7-heart-outline-512.png").right
						
			li
				a(href="#")
					img(src="copic/1.jpg")
					span.text-content Color Map 
						br 
						| by: Tenji
						img(src="/icons/add.gif").right
						img(src="https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-ios7-heart-outline-512.png").right
			li
				a(href="#")
					img(src="copic/5.png")
					span.text-content Just wing it 
						br 
						| by: missFly
						img(src="/icons/add.gif").right
						img(src="https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-ios7-heart-outline-512.png").right
			li
				a(href="#")
					img(src="copic/7.jpg")
					span.text-content Just wing it 
						br 
						| by: missFly
						img(src="/icons/add.gif").right
						img(src="https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-ios7-heart-outline-512.png").right
			li
				a(href="#")
					img(src="copic/6.jpg")
					span.text-content Just wing it 
						br 
						| by: missFly
						img(src="/icons/add.gif").right
						img(src="https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-ios7-heart-outline-512.png").right
			li
				a(href="#")
					img(src="copic/9.jpg")
					span.text-content Just wing it 
						br 
						| by: missFly
						img(src="/icons/add.gif").right
						img(src="https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-ios7-heart-outline-512.png").right
			li
				a(href="#")
					img(src="copic/1.png")
					span.text-content Just wing it 
						br 
						| by: missFly
						img(src="/icons/add.gif").right
						img(src="https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-ios7-heart-outline-512.png").right
			li
				a(href="#")
					img(src="copic/15.jpg")
					span.text-content Just wing it 
						br 
						| by: missFly
						img(src="/icons/add.gif").right
						img(src="https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-ios7-heart-outline-512.png").right
			li
				a(href="#")
					img(src="copic/14.jpg")
					span.text-content Just wing it 
						br 
						| by: missFly
						img(src="/icons/add.gif").right
						img(src="https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-ios7-heart-outline-512.png").right
			li
				a(href="#")
					img(src="copic/1.png")
					span.text-content Just wing it 
						br 
						| by: missFly
						img(src="/icons/add.gif").right
						img(src="https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-ios7-heart-outline-512.png").right
			li
				a(href="#")
					img(src="copic/2.jpg")
					span.text-content Just wing it 
						br 
						| by: missFly
						img(src="/icons/add.gif").right
						img(src="https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-ios7-heart-outline-512.png").right
			li
				a(href="#")
					img(src="copic/8.jpg")
					span.text-content Just wing it 
						br 
						| by: missFly
						img(src="/icons/add.gif").right
						img(src="https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-ios7-heart-outline-512.png").right
			li
				a(href="#")
					img(src="copic/1.jpg")
					span.text-content Just wing it 
						br 
						| by: missFly
						img(src="/icons/add.gif").right
						img(src="https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-ios7-heart-outline-512.png").right
			li
				a(href="#")
					img(src="copic/2.jpg")
					span.text-content Just wing it 
						br 
						| by: missFly
						img(src="/icons/add.gif").right
						img(src="https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-ios7-heart-outline-512.png").right
			li
				a(href="#")
					img(src="copic/12.jpg")
					span.text-content Just wing it 
						br 
						| by: missFly
						img(src="/icons/add.gif").right
						img(src="https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-ios7-heart-outline-512.png").right
			li
				a(href="#")
					img(src="copic/10.jpg")
					span.text-content Just wing it 
						br 
						| by: missFly
						img(src="/icons/add.gif").right
						img(src="https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-ios7-heart-outline-512.png").right
			li
				a(href="#")
					img(src="copic/8.jpg")
					span.text-content Just wing it 
						br 
						| by: missFly
						img(src="/icons/add.gif").right
						img(src="https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-ios7-heart-outline-512.png").right
			li
				a(href="#")
					img(src="copic/2.png")
					span.text-content Just wing it 
						br 
						| by: missFly
						img(src="/icons/add.gif").right
						img(src="https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-ios7-heart-outline-512.png").right
			li
				a(href="#")
					img(src="copic/14.jpg")
					span.text-content Just wing it 
						br 
						| by: missFly
						img(src="/icons/add.gif").right
						img(src="https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-ios7-heart-outline-512.png").right
			li
				a(href="#")
					img(src="copic/6.jpg")
					span.text-content Just wing it 
						br 
						| by: missFly
						img(src="/icons/add.gif").right
						img(src="https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-ios7-heart-outline-512.png").right
			li
				a(href="#")
					img(src="copic/5.jpg")
					span.text-content Just wing it 
						br 
						| by: missFly
						img(src="/icons/add.gif").right
						img(src="https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-ios7-heart-outline-512.png").right
			li
				a(href="#")
					img(src="copic/1.jpg")
					span.text-content Just wing it 
						br 
						| by: missFly
						img(src="/icons/add.gif").right
						img(src="https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-ios7-heart-outline-512.png").right
			li
				a(href="#")
					img(src="copic/3.jpg")
					span.text-content Just wing it 
						br 
						| by: missFly
						img(src="/icons/add.gif").right
						img(src="https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-ios7-heart-outline-512.png").right
			li
				a(href="#")
					img(src="copic/4.png")
					span.text-content Just wing it 
						br 
						| by: missFly
						img(src="/icons/add.gif").right
						img(src="https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-ios7-heart-outline-512.png").right
			li
				a(href="#")
					img(src="copic/1.jpg")
					span.text-content Just wing it 
						br 
						| by: missFly
						img(src="/icons/add.gif").right
						img(src="https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-ios7-heart-outline-512.png").right
			li
				a(href="#")
					img(src="copic/2.jpg")
					span.text-content Just wing it 
						br 
						| by: missFly
						img(src="/icons/add.gif").right
						img(src="https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-ios7-heart-outline-512.png").right
			li
				a(href="#")
					img(src="copic/3.png")
					span.text-content Just wing it 
						br 
						| by: missFly
						img(src="/icons/add.gif").right
						img(src="https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-ios7-heart-outline-512.png").right
			li
				a(href="#")
					img(src="copic/4.jpg")
					span.text-content Just wing it 
						br 
						| by: missFly
						img(src="/icons/add.gif").right
						img(src="https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-ios7-heart-outline-512.png").right
			li
				a(href="#")
					img(src="copic/5.jpg")
					span.text-content Just wing it 
						br 
						| by: missFly
						img(src="/icons/add.gif").right
						img(src="https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-ios7-heart-outline-512.png").right
			li
				a(href="#")
					img(src="copic/6.jpg")
					span.text-content Just wing it 
						br 
						| by: missFly
						img(src="/icons/add.gif").right
						img(src="https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-ios7-heart-outline-512.png").right
			li
				a(href="#")
					img(src="copic/7.jpg")
					span.text-content Just wing it 
						br 
						| by: missFly
						img(src="/icons/add.gif").right
						img(src="https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-ios7-heart-outline-512.png").right
			li
				a(href="#")
					img(src="copic/8.jpg")
					span.text-content Just wing it 
						br 
						| by: missFly
						img(src="/icons/add.gif").right
						img(src="https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-ios7-heart-outline-512.png").right
			li
				a(href="#")
					img(src="copic/9.jpg")
					span.text-content Just wing it 
						br 
						| by: missFly
						img(src="/icons/add.gif").right
						img(src="https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-ios7-heart-outline-512.png").right
			li
				a(href="#")
					img(src="copic/10.jpg")
					span.text-content Just wing it 
						br 
						| by: missFly
						img(src="/icons/add.gif").right
						img(src="https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-ios7-heart-outline-512.png").right
			li
				a(href="#")
					img(src="copic/1.jpg")
					span.text-content Just wing it 
						br 
						| by: missFly
						img(src="/icons/add.gif").right
						img(src="https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-ios7-heart-outline-512.png").right
			li
				a(href="#")
					img(src="copic/2.png")
					span.text-content Just wing it 
						br 
						| by: missFly
						img(src="/icons/add.gif").right
						img(src="https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-ios7-heart-outline-512.png").right
			li
				a(href="#")
					img(src="copic/3.jpg")
					span.text-content Just wing it 
						br 
						| by: missFly
						img(src="/icons/add.gif").right
						img(src="https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-ios7-heart-outline-512.png").right
			li
				a(href="#")
					img(src="copic/4.jpg")
					span.text-content Just wing it 
						br 
						| by: missFly
						img(src="/icons/add.gif").right
						img(src="https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-ios7-heart-outline-512.png").right
			li
				a(href="#")
					img(src="copic/5.jpg")
					span.text-content Just wing it 
						br 
						| by: missFly
						img(src="/icons/add.gif").right
						img(src="https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-ios7-heart-outline-512.png").right
			li
				a(href="#")
					img(src="copic/6.jpg")
					span.text-content Just wing it 
						br 
						| by: missFly
						img(src="/icons/add.gif").right
						img(src="https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-ios7-heart-outline-512.png").right
			li
				a(href="#")
					img(src="copic/1.png")
					span.text-content Just wing it 
						br 
						| by: missFly
						img(src="/icons/add.gif").right
						img(src="https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-ios7-heart-outline-512.png").right