extends layout

block content

	.container-fluid
		.row
			.col-md-12.main
				h1 Don't be Afraid Create!
				hr
				p
				a(href="/signup").btn.btn-lg SIGN UP
				p
				a(href="/gallery").btn.btn-lg GET INSPIRED
				p
				a(href="/login") Already a user?
			.col-md-12
				h1.title WHAT ARE WE ABOUT?
				hr.what
			.col-md-4.pitchbox
				p 
				img(src="./icons/light-bulb.svg")
				p
				h1 TO INSPIRE
				br
				p Quisque eget odio ac lectus vestibulum faucibus eget in metus. In pellentesque faucibus vestibulum. Nulla at nulla justo, eget luctus tortor. Nulla facilisi. Duis aliquet egestas purus in blandit. Curabitur vulputate, ligula lacinia scelerisque tempor, lacus lacus ornare ante, ac egestas est urna sit amet arcu. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.

				
			.col-md-4.pitchbox
				p 
				img(src="./icons/book.svg")
				p
				h1 TO LEARN
				br
				p Quisque eget odio ac lectus vestibulum faucibus eget in metus. In pellentesque faucibus vestibulum. Nulla at nulla justo, eget luctus tortor. Nulla facilisi. Duis aliquet egestas purus in blandit. Curabitur vulputate, ligula lacinia scelerisque tempor, lacus lacus ornare ante, ac egestas est urna sit amet arcu. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
			.col-md-4.pitchbox
				p 
				img(src="./icons/users.svg")
				p
				h1 TO COLLABERATE
				br
				p Quisque eget odio ac lectus vestibulum faucibus eget in metus. In pellentesque faucibus vestibulum. Nulla at nulla justo, eget luctus tortor. Nulla facilisi. Duis aliquet egestas purus in blandit. Curabitur vulputate, ligula lacinia scelerisque tempor, lacus lacus ornare ante, ac egestas est urna sit amet arcu. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
			.col-md-12.how
	footer
		h3 Join to help inspire and be inspired!
		p contact something@something.com
		
		
			
				
	