doctype html
html
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='description', content='')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		title= title
		link(rel='stylesheet',href='/stylesheets/bootstrap.css')
		link(rel='stylesheet', href='/stylesheets/login.css') 
		script(src='//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js')
		link( href='//fonts.googleapis.com/css?family=Montserrat', rel='stylesheet', type='text/css' )


	body
		.container-fluid
			.row
			.backlayout
				h2.form-login-heading Sign Up!
				.center
					form.form-signup(method="post")
						input(type="text", name="fnam", placeholder="First Name", require)
						p 
						input(type="text", name="lnam", placeholder="Last Name", required)
						p 
						input(type="text", name="username", placeholder="Username", required)
						p 
						input(type="password", name="password", placeholder="Password", required)
						p 
						input.btn(type="submit", value="Save")